.center {
    margin-top: 5%;
    justify-content: center;
    width: 100%;
    height: 50%;
    text-align: center;
}

footer {
    /* margin-bottom: 50% */
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}